body {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
    font: 18px Inconsolata, monospace;
    overflow-x: hidden;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
            0deg,
            rgba(0,0,0, 0.15),
            rgba(0,0,0, 0.15) 1px,
            transparent 1px,
            transparent 2px
    );
}

p {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: medium;
    font-weight: normal;
    text-align: center;
    background-color: lightgray;
    color: black;
}

input {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    text-shadow: inherit;
    display: inline;
}

input:focus{
    outline: none;
}

::selection {
    background: white;
    color: black;
    text-shadow: none;
}

#quiz-body {
    overflow: auto;
    overflow-anchor: none;
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;
    /* anchor nodes are required to have non-zero area */
    height: 1px;
}